---
import { type CollectionEntry, getCollection, render } from "astro:content";

import PostLayout from "../../layouts/PostLayout.astro";
import { Icon } from "../../components/Icon/Icon";

export interface Props {
  post: CollectionEntry<"posts">;
  prev: CollectionEntry<"posts"> | null;
  next: CollectionEntry<"posts"> | null;
}

export async function getStaticPaths() {
  const posts = (await getCollection("posts")).sort(
    (a, b) =>
      new Date(b.data.datePublished).getTime() -
      new Date(a.data.datePublished).getTime(),
  );

  return posts.map((post, index) => ({
    params: { id: post.id },
    props: {
      post,
      prev: posts[index - 1] ?? null,
      next: posts[index + 1] ?? null,
    },
  }));
}

const { post, prev, next } = Astro.props;
const { Content, headings } = await render(post);

const { data } = post;
const { title, description, datePublished, dateModified } = data;
---

<PostLayout
  title={title}
  description={description}
  datePublished={datePublished}
  dateModified={dateModified}
  headings={headings}
  hideDescription={true}
>
  <Content />
  <div class="pagination" slot="after-prose">
    {
      prev && (
        <a href={`/posts/${prev.id}`} class="prev-post-link">
          <Icon icon="arrowLeft" size="16" />
          <span class="link-label shade">Previous</span>
          <span class="link-title">{prev.data.title}</span>
        </a>
      )
    }
    {
      next && (
        <a href={`/posts/${next.id}`} class="next-post-link">
          <span class="link-label shade">Next</span>
          <span class="link-title">{next.data.title}</span>
          <Icon icon="arrowRight" size="16" />
        </a>
      )
    }
  </div>
</PostLayout>

<style>
  .pagination {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--space-xl);
    margin-inline: 0;
    width: 100%;
    gap: var(--space-m);
  }

  .pagination a {
    flex: 1;
    display: grid;
    column-gap: var(--space-m);
    padding: var(--space-s);
    border-radius: 0.5rem;
    border: 1px solid var(--gray-5);
    line-height: 1.1;
    align-items: center;
    text-decoration: none;
    background-color: var(--gray-1);
    color: var(--gray-12);
    transition:
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
  }

  :global(.dark-mode) .pagination a {
    border-color: var(--gray-6);
    background-color: var(--gray-3);
    color: var(--gray-1);
  }

  .pagination .prev-post-link {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "icon label"
      "icon title";
  }

  .pagination .next-post-link {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "label icon"
      "title icon";
    text-align: right;
  }

  .pagination .icon {
    grid-area: icon;
    color: var(--gray-10);
  }

  .pagination .link-label {
    grid-area: label;
  }

  .pagination .link-title {
    grid-area: title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (hover: hover) and (pointer: fine) {
    .pagination a:hover {
      background-color: var(--gray-2);
      border-color: var(--gray-5);
    }

    :global(.dark-mode) .pagination a:hover {
      background-color: var(--gray-1);
      border-color: var(--gray-12);
    }
  }

  @media (min-width: 641px) {
    .pagination {
      flex-direction: row;
      gap: var(--space-m);
    }
  }
</style>
