---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import CenteredLayout from "../../layouts/CenteredLayout.astro";

const posts = await getCollection("posts");

const writings = posts
  .filter((post) => post.data.writing === true)
  .sort(
    (a, b) =>
      new Date(b.data.datePublished).getTime() -
      new Date(a.data.datePublished).getTime()
  );

const notes = posts
  .filter((post) => post.data.writing === false)
  .sort(
    (a, b) =>
      new Date(b.data.datePublished).getTime() -
      new Date(a.data.datePublished).getTime()
  );
---

<BaseLayout
  title="Posts"
  image="https://www.davidumoru.me/static/meta/posts-meta.webp"
>
  <CenteredLayout>
    <section>
      <h1 class="fs-2">Writings</h1>
      <div class="region flow">
        {
          writings.map((post) => (
            <PostCard
              url={`posts/${post.id}`}
              title={post.data.title}
              description={post.data.description}
              datePublished={post.data.datePublished}
              features={post.data.features}
            />
          ))
        }
      </div>
    </section>

    <section>
      <h1 class="fs-2">Notes</h1>
      <div class="region flow">
        {
          notes.map((post) => (
            <PostCard
              url={`posts/${post.id}`}
              title={post.data.title}
              description={post.data.description}
              datePublished={post.data.datePublished}
              features={post.data.features}
            />
          ))
        }
      </div>
    </section>
  </CenteredLayout>
</BaseLayout>
