---
import { displayDate } from "../lib/mediumDate";

interface Feature {
  name: string;
  url: string;
}

interface Props {
  url: string;
  title: string;
  description?: string;
  datePublished?: Date;
  features?: Feature[];
}

const { url, title, description, datePublished, features } = Astro.props;
---

<article>
  <p class="fs-0">
    {datePublished ? displayDate(datePublished) : "Unknown Date"}
  </p>
  <a href={url}>
    <p id="title">{title}</p>
  </a>
  <p>{description}</p>
  {
    features && (
      <p class="fs--0 feature">
        Featured on{" "}
        {features.map(({ name, url }, i) => [
          i > 0 && ", ",
          <a href={url} target="_blank">
            {name}
          </a>,
        ])}
      </p>
    )
  }
</article>

<style>
  article {
    max-inline-size: 66ch;
    padding-bottom: 1ch;
  }
  article:not(:first-child) {
    margin-block: var(--space-m);
  }


  #title {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-2);
    font-weight: 500;
    color: var(--gray-12);
  }

  a:has(#title) {
    text-decoration: none;
  }
  a:has(#title):hover #title {
    color: var(--tomato-9);
    transition: color 0.3s ease;
  }

  .feature {
    color: var(--gray-12);
    font-weight: 300;
  }
</style>
