---
import { displayDate } from "../lib/mediumDate";

interface Feature {
  name: string;
  url: string;
}

interface Props {
  url: string;
  title: string;
  description?: string;
  datePublished?: Date;
  features?: Feature[];
}

const { url, title, description, datePublished, features } = Astro.props;
---

<article class="flow">
  <div class="fs--1 shade">
    {datePublished ? displayDate(datePublished) : "Unknown Date"}
  </div>
  <a href={url} class="underline heading">
    <h3>{title}</h3>
  </a>
  <div>{description}</div>
  {
    features && (
      <div class="fs--1 shade">
        Featured on{" "}
        {features.map(({ name, url }, i) => [
          i > 0 && ", ",
          <a href={url} target="_blank">{name}</a>,
        ])}
      </div>
    )
  }
</article>

<style>
  article {
    max-inline-size: 66ch;
    padding-bottom: 1ch;
  }
  article:not(:first-child) {
    margin-block: var(--space-m);
  }
  div {
    margin-block: 0.3rem;
  }
</style>
