---
import BaseLayout from "./BaseLayout.astro";
import CenteredLayout from "./CenteredLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import { Icon } from "../components/Icon/Icon";
import type { CollectionEntry } from "astro:content";
import Wrapper from "../components/Lab/Wrapper.astro";

interface Props {
  entry: CollectionEntry<"lab">;
}

const { entry } = Astro.props;
const {
  title,
  description,
  datePublished,
  repositoryUrl,
  componentKey,
  hydration,
} = entry.data;
---

<BaseLayout title={title} description={description}>
  <CenteredLayout>
    <PageHeader
      title={title}
      description={description}
      datePublished={datePublished}
    />
    {
      componentKey && (
        <Wrapper componentKey={componentKey as any} hydration={hydration} />
      )
    }

    <div>
      <slot />
    </div>

    <div class="navigation-footer">
      <a href="/lab" class="link">
       Back to Lab
      </a>
      {
        repositoryUrl && (
          <a
            href={repositoryUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="link"
          >
            <Icon icon="arrowRightUp" size="16" />  View Source   
          </a>
        )
      }
    </div>
  </CenteredLayout>
</BaseLayout>

<style>
  .navigation-footer {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid var(--gray-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    font-size: 0.875rem;
  }
</style>
