---
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "./BaseLayout.astro";
import CenteredLayout from "./CenteredLayout.astro";
import Disclaimer from "../components/Disclaimer.astro";

interface Props {
  title: string;
  description: string;
  datePublished?: Date;
  dateModified?: Date;
  img?: ImageMetadata[];
  imgAlt?: string;
  ogAlt?: string;
  hideDisclaimer?: boolean;
}

const {
  title,
  description,
  datePublished,
  img,
  imgAlt,
  hideDisclaimer,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <CenteredLayout>
    <article itemscope itemtype="https://schema.org/BlogPosting">
      <PageHeader
        title={title}
        description={description}
        datePublished={datePublished}
        img={img}
        imgAlt={imgAlt}
      />
      <section itemprop="articleBody" class="prose">
        <slot />
      </section>
      {!hideDisclaimer && <Disclaimer />}
      <slot name="after-prose" />
    </article>
  </CenteredLayout>
</BaseLayout>
